<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
{% if post %}
    <h1><a href="/article/{{ post.title }}">{{ post.title }}</a></h1>
    <p>分类：{{ post.category }}</p>
    {#<p>标签：{{ post.tag }}</p>#}
    <div class="article_item clearfix">
        <p style="font-weight:bold">作者</p> <span style="color:silver"> {{ post.owner.username }}</span>
        <p style="font-weight:bold">时间</p> <span style="color:silver"> {{ post.created_time }}</span>
    </div>
    <div>
        摘要：
        <span>{{ post.desc }}</span>
    </div>
    <h2>正文</h2>
    <div>
        <span>{{ post.content }}</span>
    </div>
{% else %}
    <p>访问文章不存在</p>
{% endif %}
</body>
</html>